<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
</head>
<body>
    <h1>Sobre {{name}}</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, autem voluptates beatae saepe sit repellat rem perspiciatis corporis odio ex dolor? Minus assumenda vel omnis distinctio aliquid cum unde recusandae?</p>
</body>
</html>